
  

  
  .layout-wrapper .topbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .layout-wrapper .topbar .topbar-right #menu-button {
    color: #007bff;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 219px;
    text-align: center;
    background-color: #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .layout-wrapper .topbar .topbar-right #menu-button:hover {
    background-color: #f4f4f4;
  }

  .layout-wrapper .topbar .topbar-right #topbar-menu-button {
    display: none;
    vertical-align: middle;
    height: 36px;
    position: absolute;
    top: 12px;
    right: 25px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .layout-wrapper .layout-menu-container {
    overflow: auto;
    position: fixed;
    width: 235px;
    z-index: 99;
    top: 60px;
    height: 100%;
    background-color: #ECF0F1;
    border-right: 1px solid #cccccc;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
  }
  .layout-wrapper .layout-menu-container .layout-main-menu {
    padding-bottom: 120px;
  }
  .layout-wrapper .layout-menu-container .profile {
    padding: 15px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .layout-wrapper .layout-menu-container .profile:after {
    content: "";
    display: table;
    clear: both;
  }
  .layout-wrapper .layout-menu-container .profile > a .profile-image {
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 4px;
  }
  .layout-wrapper .layout-menu-container .profile > a .profile-name {
    display: block;
    color: #292B2C;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-top: 4px;
  }
  .layout-wrapper .layout-menu-container .profile > a .profile-role {
    display: block;
    min-width: 100px;
    text-align: right;
    font-size: 12px;
    float: right;
    color: #777777;
  }
  .layout-wrapper .layout-menu-container .profile > a i {
    float: right;
    color: #777777;
    font-size: 12px;
    line-height: 18px;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  .layout-wrapper .layout-menu-container .profile.profile-expanded i {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .layout-wrapper .layout-menu-container #profile-menu {
    border-bottom: 1px solid #d6d5d5;
    overflow: hidden;
  }
  .layout-wrapper .layout-menu-container #profile-menu li:first-child {
    margin-top: 16px;
  }
  .layout-wrapper .layout-menu-container #profile-menu li:last-child {
    margin-bottom: 16px;
  }

 
  .layout-wrapper.menu-layout-overlay .layout-menu-container {
    margin-left: -250px;
  }
  .layout-wrapper.menu-layout-overlay .layout-main, .layout-wrapper.menu-layout-overlay .layout-footer {
    margin-left: 0;
  }
  .layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-menu-container {
    z-index: 999999999;
    margin-left: 0px;
  }
  .layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .layout-wrapper.menu-layout-overlay .topbar {
    z-index: 999999998;
  }
  .layout-wrapper.menu-layout-overlay .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .layout-wrapper .layout-main {
    padding:  70px 5px 5px;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 60px);
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
  }
  .layout-wrapper .layout-mask {
    display: none;
  }
  .layout-wrapper .layout-footer {
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
  }
  .layout-wrapper .layout-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  

  @media (min-width: 1025px) {
    .layout-wrapper .topbar-items {
      -webkit-animation-name: none;
      animation-name: none;
      float: right;
      margin: 5px 0 0 0;
      padding: 0;
      list-style-type: none;
    }
    .layout-wrapper .topbar-items > li {
      float: right;
      position: relative;
      margin-left: 14px;
    }
    .layout-wrapper .topbar-items > li > a {
      position: relative;
      display: block;
    }
    .layout-wrapper .topbar-items > li > a .topbar-item-name {
      display: none;
    }
    .layout-wrapper .topbar-items > li.profile-item a {
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      top: -3px;
    }
    .layout-wrapper .topbar-items > li.profile-item a:after {
      content: "";
      display: table;
      clear: both;
    }
    .layout-wrapper .topbar-items > li.profile-item a .profile-image {
      width: 36px;
      height: 36px;
      margin-top: -4px;
      float: right;
      margin-left: 12px;
    }
    .layout-wrapper .topbar-items > li.profile-item a .topbar-item-name {
      display: block;
      float: left;
      color: #000;
    }
    .layout-wrapper .topbar-items > li.profile-item a .topbar-item-role {
      display: block;
      font-size: 12px;
      color: #ffffff;
    }
    .layout-wrapper .topbar-items > li > ul {
      position: absolute;
      top: 50px;
      right: 5px;
      display: none;
      width: 250px;
      background-color: #ffffff;
      border-top: 4px solid #007bff;
      -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s;
    }
    .layout-wrapper .topbar-items > li > ul:before {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid #007bff;
      content: " ";
      position: absolute;
      top: -15px;
      left: 232px;
    }
    .layout-wrapper .topbar-items > li.active-top-menu > ul {
      display: block;
    }
    .layout-wrapper .topbar-items > li .topbar-message img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    .layout-wrapper.menu-layout-static .layout-menu-container {
      margin-left: 0;
    }
    .layout-wrapper.menu-layout-static .layout-main, .layout-wrapper.menu-layout-static .layout-footer {
      margin-left: 235px;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-menu-container {
      margin-left: -250px;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main, .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-footer {
      margin-left: 0px;
    }
    .layout-wrapper.menu-layout-static .layout-mask {
      display: none;
    }
    .layout-wrapper.menu-layout-horizontal .topbar {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    .layout-wrapper.menu-layout-horizontal .topbar .topbar-left {
      background: #146fd7;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    .layout-wrapper.menu-layout-horizontal .topbar .topbar-right {
      background: #146fd7;
    }
    .layout-wrapper.menu-layout-horizontal .topbar .topbar-right #menu-button {
      display: none;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container {
      overflow: visible;
      position: fixed;
      width: 100%;
      top: 60px;
      height: auto;
      background-color: #146fd7;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container .menu-scroll-content {
      width: 100%;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container .layout-main-menu {
      padding-bottom: 0;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu:last-child {
      margin-top: 0;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li {
      float: left;
      position: relative;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.layout-root-menuitem > .layout-menuitem-root-text {
      display: none;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.layout-root-menuitem > a {
      display: block;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > a:hover {
      background-color: #e8e8e8;
      color: #292B2C;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > a:hover i {
      color: #292B2C;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul {
      padding: 5px 0;
      z-index: 100;
      position: absolute;
      display: none;
      top: 50px;
      left: 0px;
      width: 250px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-top: 4px solid #007bff;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li a {
      padding: 10px 16px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul {
      position: static;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul li a {
      padding-left: 32px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul li a {
      padding-left: 48px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul li a {
      padding-left: 64px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul ul li a {
      padding-left: 80px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li ul ul ul ul ul li a {
      padding-left: 96px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li > ul li.active-menuitem > a {
      color: #007bff;
      background-color: #e8e8e8;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > .submenu-arrow {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid #007bff;
      content: " ";
      position: absolute;
      top: 38px;
      left: 20px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > a {
      color: #007bff;
      background-color: #e8e8e8;
      border-left-color: transparent;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > a i {
      color: #007bff;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu > li.active-menuitem > ul {
      display: block;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-badge {
      margin-right: 0;
      margin-left: 4px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-toggle-icon {
      margin-top: 4px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark {
      background-color: #363a41;
      background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
      background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
      background-image: -moz-linear-gradient(to right, #363a41, #363a41);
      background-image: -ms-linear-gradient(to right, #363a41, #363a41);
      background-image: -o-linear-gradient(to right, #363a41, #363a41);
      background-image: linear-gradient(to right, #363a41, #363a41);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#363a41", endColorStr="#363a41", gradientType="1");
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu > li > ul {
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a {
      color: #ffffff;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a i {
      color: #ffffff;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a:hover {
      background-color: #4a4d54;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a {
      color: #6aa5d8;
      background-color: #282b30;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem > a i {
      color: #6aa5d8;
    }
    .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li ul {
      background-color: #363a41;
      background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
      background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
      background-image: -moz-linear-gradient(to right, #363a41, #363a41);
      background-image: -ms-linear-gradient(to right, #363a41, #363a41);
      background-image: -o-linear-gradient(to right, #363a41, #363a41);
      background-image: linear-gradient(to right, #363a41, #363a41);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#363a41", endColorStr="#363a41", gradientType="1");
    }
    .layout-wrapper.menu-layout-horizontal .layout-main {
      padding-top: 115px;
      margin-left: 0px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-footer {
      margin-left: 0px;
    }
    .layout-wrapper.menu-layout-horizontal .layout-mask {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .topbar {
      left: 75px;
      width: calc(100% - 75px);
    }
    .layout-wrapper.menu-layout-slim .topbar .topbar-left {
      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .layout-wrapper.menu-layout-slim .topbar .topbar-right #menu-button {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container {
      width: 75px;
      overflow: visible;
      z-index: 100;
      top: 0;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .menu-scroll-content {
      width: 100%;
      padding-right: 0;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .profile {
      height: 60px;
      padding-top: 7px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a .profile-name, .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a .profile-role, .layout-wrapper.menu-layout-slim .layout-menu-container .profile > a i {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu {
      padding: 0;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li {
      position: relative;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.layout-root-menuitem > .layout-menuitem-root-text {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.layout-root-menuitem > a {
      display: block;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a {
      text-align: center;
      padding: 15px;
      padding-left: 20px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a i:first-child {
      font-size: 19px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a span:not(.p-ink), .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a i.menuitem-toggle-icon {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > a:hover + .layout-menu-tooltip {
      display: block;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul {
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      border: 1px solid #cccccc;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      left: 73px;
      display: none;
      min-width: 200px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li a {
      padding-left: 16px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul li a {
      padding-left: 32px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul li a {
      padding-left: 48px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul li a {
      padding-left: 64px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul ul li a {
      padding: 80px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li > ul li ul ul ul ul ul li a {
      padding: 96px;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.active-menuitem > a:hover + .layout-menu-tooltip {
      display: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu > li.active-menuitem > ul {
      display: block;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container.layout-menu-dark {
      border: none;
    }
    .layout-wrapper.menu-layout-slim .layout-menu-container.layout-menu-dark .layout-menu > li > ul {
      border: none;
      background-color: #363a41;
      background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
      background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
      background-image: -moz-linear-gradient(to right, #363a41, #363a41);
      background-image: -ms-linear-gradient(to right, #363a41, #363a41);
      background-image: -o-linear-gradient(to right, #363a41, #363a41);
      background-image: linear-gradient(to right, #363a41, #363a41);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#363a41", endColorStr="#363a41", gradientType="1");
    }
    .layout-wrapper.menu-layout-slim .layout-main {
      margin-left: 75px;
    }
    .layout-wrapper.menu-layout-slim .layout-footer {
      margin-left: 75px;
    }
  }
  @media (max-width: 1024px) {
    .layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button.menu-button-rotate i {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .layout-wrapper.menu-layout-static .layout-menu-container {
      margin-left: -265px;
    }
    .layout-wrapper.menu-layout-static .layout-main, .layout-wrapper.menu-layout-static .layout-footer {
      margin-left: 0px;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-menu-container {
      margin-left: 0;
      z-index: 999999999;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar {
      z-index: 999999998;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar .topbar-right #menu-button i {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-main, .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-footer {
      margin-left: 0;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-mask {
      display: block;
    }
    .layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-right #menu-button.menu-button-rotate i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-mask {
      display: block;
    }
    .layout-wrapper .topbar .topbar-right #topbar-menu-button {
      display: block;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items {
      position: absolute;
      top: 75px;
      right: 15px;
      width: 275px;
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s;
      display: none;
      background-color: #ffffff;
      border-top: 4px solid #32788d;
      -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items:before {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid #32788d;
      content: " ";
      position: absolute;
      top: -15px;
      left: 242px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a {
      width: 100%;
      display: block;
      font-size: 16px;
      padding: 10px 15px;
      color: #292B2C;
      position: relative;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      font-size: 16px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a:hover {
      background-color: #e8e8e8;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a .topbar-item-name {
      display: inline-block;
      vertical-align: middle;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > a .topbar-badge {
      position: absolute;
      left: 30px;
      top: 10px;
      background-color: #ffc107;
      color: #282b30;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      padding: 2px 4px;
      display: block;
      font-size: 12px;
      line-height: 12px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > ul {
      display: none;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a span, .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a img, .layout-wrapper .topbar .topbar-right .topbar-items > li > ul li a i {
      display: inline-block;
      vertical-align: middle;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > a {
      color: #007bff;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > ul {
      display: block;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.active-top-menu > ul li a {
      padding-left: 32px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item {
      width: 100%;
      display: block;
      font-size: 16px;
      position: relative;
      padding: 10px 15px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search input {
      top: 0;
      width: 100%;
      padding-right: 28px;
      border-color: #e5e5e5;
      color: #292B2C;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search input:focus {
      border-color: #e5e5e5;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search label {
      top: 1px;
      color: #292B2C;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.search-item .topbar-search i {
      position: absolute;
      right: 10px;
      top: 5px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.profile-item .profile-image {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      margin-right: 14px;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items > li.profile-item span {
      vertical-align: middle;
      display: inline-block;
    }
    .layout-wrapper .topbar .topbar-right .topbar-items.topbar-items-visible {
      display: block;
    }
  }
  @media (max-width: 399px) {
    .layout-wrapper .topbar .topbar-right #topbar-menu-button {
      right: 10px;
    }
    .layout-wrapper.layout-rtl .topbar .topbar-right #topbar-menu-button {
      left: 10px;
    }
  }
  .layout-config {
    position: fixed;
    padding: 0;
    top: 60px;
    display: block;
    right: 0;
    width: 20em;
    z-index: 996;
    height: calc(100% - 60px);
    transform: translate3d(20em, 0px, 0px);
    transition: transform 0.3s;
    background-color: #ffffff;
    backface-visibility: hidden;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  }
  .layout-config.layout-config-active {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-config.layout-config-active .layout-config-button {
    opacity: 0;
    visibility: hidden;
  }
  .layout-config .layout-config-button {
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    line-height: 52px;
    background-color: #fafafa;
    text-align: center;
    top: 230px;
    left: -51px;
    z-index: -1;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    color: #146fd7;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: background-color 0.3s, opacity 0.3s;
    transition-delay: 0.2s;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  }
  .layout-config .layout-config-button i {
    font-size: 32px;
    font-weight: bold;
    line-height: inherit;
    cursor: pointer;
    transition: transform 1s;
  }
  .layout-config .layout-config-button:hover {
    color: #4996ee;
  }
  .layout-config .layout-config-close {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 20px;
    top: 10px;
    z-index: 999;
    background-color: #e0284f;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  .layout-config .layout-config-close i {
    color: #ffffff;
    line-height: inherit;
    font-size: 12px;
  }
  .layout-config .layout-config-close:hover {
    background-color: #d44d69;
  }
  .layout-config .layout-config-content {
    position: relative;
    height: 100%;
    padding: 1em;
    overflow: auto;
  }
  .layout-config .layout-config-content .layout-themes {
    display: flex;
    flex-wrap: wrap;
  }
  .layout-config .layout-config-content .layout-themes > div {
    padding: 0.25rem;
  }
  .layout-config .layout-config-content .layout-themes a {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .layout-config .layout-config-content .layout-themes a i {
    font-size: 1rem;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }
  .layout-config .layout-config-content .layout-themes a:hover {
    transform: scale(1.1);
  }
  .layout-config .p-col {
    text-align: center;
  }
  .layout-config p {
    line-height: 1.5;
    margin-top: 0;
    color: #777777;
  }
  
  .blocked-scroll-config {
    overflow: hidden;
  }
  
  @media screen and (max-width: 1024px) {
    .layout-config {
      transform: translate3d(20em, 0px, 0px);
    }
    .layout-config.layout-config-active {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-config .layout-config-close {
      right: 29px;
    }
  }
